@use '../abstracts/colors' as *;
@use '../utilities/mixins' as *;

.btn {
    color: $white;
    text-transform: uppercase;
    &:hover {
        color: $white;
    }
    &.google {
        background-color: $google;
        padding: 10px 30px;
        font-size: 20px;
        margin-top: 20px;
        margin-right: 10px;
        &:hover {
            @include hover--darken($google);
        }
    }

    &.trustpilot {
        background-color: $trustpilot;
        padding: 10px 30px;
        font-size: 20px;
        margin-top: 20px;
        &:hover {
            @include hover--darken($trustpilot);
        }
    }

    &.read-more {
        background-color: $primary-dark;
        padding: 10px 30px;
        font-size: 20px;
        margin-bottom: 50px;
        &:hover {
            @include hover--darken($primary-dark);
        }
    }
    &.form-submit {
        background-color: $primary;
        &:hover {
            @include hover--darken($primary);
        }
    }
    &-support {
        background-color: $support;
        &:hover {
            @include hover--darken($support);
        }
    }
    &-contact {
        background-color: $search;
        &:hover {
            @include hover--darken($search);
        }
    }
    &-default {
        color: $white;
        background-color: $search;
        border-color: $search;
    }
}
.hamburger {
    &:hover {
        @include hover--darken($primary);
    }
}

@media (max-width: 576px) {
    .spacer-xs {
        margin-bottom: 30px;
    }
}