@use '../abstracts/colors' as *;
.card {
    text-decoration: none;
    color: $primary;
    text-align: center;
    padding: 30px;
    box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    transition: .5s ease;
    &-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
        gap: 13px;
        & .btn {
            max-width: 223.73px;
            margin: 0 auto;
        }
        & .card-title,
        .card-text {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
    &.card-latest-news {
        border-radius: 0;
        padding: 0;
        border: none;
    }
    &-services {
        height: 100%;
    }
    &-footer {
        background-color: $white;
        text-align: left;
        padding: 0;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid $grey;
        & img {
            margin-right: 16px;
            border-radius: 50%;
            width: 47px;
            height: 47px;
        }
        &-text {
            font-size: 0.875rem;
            
        }
    }
    &-news {
        text-align: left;
        padding: 30px;
        border: 1px solid $grey;
        border-top: 0;
        border-radius: 0 0 3px 3px;
        & .btn {
            margin-top: 13px;
            margin-left: 0;
        }
        & .card-title {
            font-size: 1rem;
        }
        &-1 * {
            &.card-title {
                color: map-get($map: $articles, $key: "1");
            }
            &.btn {
                background-color: map-get($map: $articles, $key: "1");
            }
        }
        &-2 * {
            &.card-title {
                color: map-get($map: $articles, $key: "2");
            }
            &.btn {
                background-color: map-get($map: $articles, $key: "2");
            }
        }
        &-3 * {
            &.card-title {
                color: map-get($map: $articles, $key: "3");
            }
            &.btn {
                background-color: map-get($map: $articles, $key: "3");
            }
        }
    }
    &-services:hover {
        color: $white;
    }
    &:hover {
        transform: translateY(-1rem);
        &.software {
            background-color: $bespoke-software;
        }
        & .besp-soft {
            background-color: $white;
            color: $bespoke-software;
        }
        &.it {
            background-color: $it-support;
        }
        & .it-sup {
            background-color: $white;
            color: $it-support;
        }
        &.digital {
            background-color: $digital-marketing;
        }
        & .dig-mark {
            background-color: $white;
            color: $digital-marketing;
        }
        &.telecoms {
            background-color: $telecoms-services;
        }
        & .tel-serv {
            background-color: $white;
            color: $telecoms-services;
        }
        &.web {
            background-color: $web-design;
        }
        & .web-des {
            background-color: $white;
            color: $web-design;
        }
        &.cyber {
            background-color: $cyber-security;
        }
        & .cyb-sec {
            background-color: $white;
            color: $cyber-security;
        }
        &.developer {
            background-color: $developer-training;
        }
        & .dev-train {
            background-color: $white;
            color: $developer-training;
        }
    }
}

@media (min-width: 1260px) {
    .col-xxl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}