@use '../abstracts/colors' as *;

.form {
    &-control {
        height: 47px;
        padding: 5px 15px;
        border-color: $grey;
    }
    &-check {
        & *:hover {
            cursor: pointer;
        }
        &-input {
            height: 32px;
            width: 32px;
            border: 3px solid $primary;
            border-radius: 3px;
            margin-right: 20px;
            &:checked {
                background-color: $primary;
            }
            &:focus,
            &:hover {
                border-color: $primary;
                box-shadow: none;
            }
        }
        &-label {
            & a {
                color: $primary;
                text-decoration: underline;
                &:hover {
                    color: darken($primary, 15%);
                }
            }
        }
    }
}
.search {
    &-form {
        background-color: rgba(0,0,0,.1);
        outline: 1px solid hsla(0,0%,100%,.2);
        border: 2px solid rgba(0,0,0,.1);
        transition: none;
        width: 100%;
    }
    &-bar {
        background-color: transparent;
        border: none;
    }
    &-btn {
        color: $primary;
    }
}
.required {
    color: $required;
}