@use '../abstracts/colors' as *;

.form {
    &-control {
        height: 47px;
        padding: 5px 15px;
        border-color: $grey;
        &.form-control:focus {
            border-color: $focus;
            outline: 0;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgb(91 192 222 / 60%);
        }
    }
    &-check {
        & *:hover {
            cursor: pointer;
        }
        &-input {
            height: 32px;
            width: 32px;
            border: 3px solid $primary;
            border-radius: 3px;
            margin-right: 20px;
            &:checked {
                background-color: $primary;
                border-color: $primary;
            }
            &:focus,
            &:hover {
                border-color: $primary;
                box-shadow: none;
            }
        }
        &-label {
            & a {
                color: $primary;
                text-decoration: underline;
                &:hover {
                    color: darken($primary, 15%);
                }
            }
        }
    }
}
.search {
    &-form {
        background-color: rgba(0,0,0,.1);
        outline: 1px solid hsla(0,0%,100%,.2);
        border: 2px solid rgba(0,0,0,.1);
        transition: none;
        width: 100%;
    }
    &-bar {
        background-color: transparent;
        border: none;
    }
    &-btn {
        color: $primary;
    }
}
.danger {
    color: $danger;
}
.contact-form {
    background-color: $contact-form;
    padding: 30px;
    border-radius: 10px;
    & textarea {
        height: 100px;
    }
}