@use '../abstracts/colors' as c;

.fa-solid {
    width: 100%;
}

.fa-phone-volume {
    color: c.$primary;
}

.fa-grip {
    color: c.$bespoke--software;
}

.fa-desktop {
    color: c.$it--support;
}

.fa-signal {
    color: c.$digital-marketing;
}

.fa-phone {
    color: c.$telecoms-services;
}

.fa-code {
    color: c.$web--design;
}

.fa-shield-halved {
    color: c.$cyber--security;
}

.fa-graduation-cap {
    color: c.$developer--training;
}

.icon-rounded {
    width: 65px;
    height: 65px;
    color: c.$white;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}