@use '../abstracts/colors' as c;

.fa {
    &-solid {
        width: 100%;
    }

    &-phone-volume {
        color: c.$primary;
    }

    &-grip {
        color: c.$bespoke--software;
    }

    &-desktop {
        color: c.$it--support;
    }

    &-signal {
        color: c.$digital-marketing;
    }

    &-phone {
        color: c.$telecoms-services;
    }

    &-code {
        color: c.$web--design;
    }

    &-shield-halved {
        color: c.$cyber--security;
    }

    &-graduation-cap {
        color: c.$developer--training;
    }
    &-star {
        color: orange;
        font-size: 50px;
    }
}
.icon-rounded {
    width: 65px;
    height: 65px;
    color: c.$white;
    border-radius: 50%;
    border: none;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}