@use '../abstracts' as *;

.navbar {
    background-color: $primary;
    padding: 0;
    &-nav {
        flex-grow: 1;
    }
}
.nav {
    &-link {
        color: $white;
        text-align: center;
        padding: 19px 0 18px !important;
    }
    &-item {
        flex-grow: 1;
    }
}