$primary: #333645;
$white: #fff;

$bespoke--software: #67809F;

$it--support: #4183D7;

$digital-marketing: #2ECC71;

$telecoms-services: #D64541;

$web--design: #926FB1;

$cyber--security: #F62459;

$developer--training: #CE4125;