$primary: #333645;
$white: #fff;

$bespoke--software: #67809F;

$it--support: #4183D7;

$digital-marketing: #2ECC71;

$telecoms-services: #D64541;

$web--design: #926FB1;

$cyber--security: #F62459;

$developer--training: #CE4125;

.besp-soft {
    background-color: $bespoke--software;
}

.it-sup {
    background-color: $it--support;
}

.dig-mark {
    background-color: $digital-marketing;
}

.tel-serv {
    background-color: $telecoms-services;
}

.web-des {
    background-color: $web--design;
}

.cyb-sec {
    background-color: $cyber--security;
}

.dev-train {
    background-color: $developer--training;
}