$primary: #333645;
$primary-dark: darken($primary, 5%);
$white: #fff;
$quote-author: #A3A8AC;
$grey: #ccc;

$support: #4183D7;

$search: #999AA2;

$bespoke-software: #67809F;

$it-support: #4183D7;

$digital-marketing: #2ECC71;

$telecoms-services: #D64541;

$web-design: #926FB1;

$cyber-security: #F62459;

$developer-training: #CE4125;

$google: #4387F6;

$trustpilot: #00B67B;

$required: #D24D57;

$articles:  (
    "1": #926fb1,
    "2": #2ecc71,
    "3": #67809f
    
);
$social-media: (
    "facebook": #3b5998,
    "twitter": #00aced,
    "instagram": #d93175,
    "linkedin": #0077b5
);
$form: #DDD;
.besp-soft {
    background-color: $bespoke-software;
}

.it-sup {
    background-color: $it-support;
}

.dig-mark {
    background-color: $digital-marketing;
}

.tel-serv {
    background-color: $telecoms-services;
}

.web-des {
    background-color: $web-design;
}

.cyb-sec {
    background-color: $cyber-security;
}

.dev-train {
    background-color: $developer-training;
}

.client-quote-author {
    color: $quote-author;
}